body {
    background-image: linear-gradient(186deg, #ebebeb 10%, #ffffff 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    margin-top: 90px;
    margin-left: 10%;
}

.card img {
    width: 25%;
    border-radius: 15px;
    margin: 3%;
    border: 5px solid #c1c1c1;
}

.card p.horaires {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff0b8;
    border-radius: 15px;
    width: fit-content;
}

.card p.fonction {
    background-color: #b4d5ff;
    border-radius: 5px;
    padding-left: 10px;
}

.card p.planmonth {
    background-color: #f5acac;
    border-radius: 5px;
    padding-left: 10px;
    margin-right : 320px;
}

.card p.planmonth2 {
    background-color: #c7acf5;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 320px;
}

.card p.planmonth3 {
    background-color: #b3f5ac;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 320px;
}

.card p.currentplan {
    background-color: #b6fde0;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.card h4 {
    font-size: 20px;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    border-radius: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    margin-bottom: auto;
    min-height: 540px;
}



.compta p {
    background-color: #c1fe9e;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align-last: center;
    margin-top: 25px;
}

.infouser {
    background-color: #ffffff;
}


.planning {
    margin-left : 25px;
}

.task {
    margin-left: 25px;
    background-color: #ffffff;
}

.compta {
    margin-left: 25px;
    background-color: #ffffff;
}

.listTask{
    margin-top: 25px;
}

.listTask li{
    margin-top: 20px;
    list-style:none;
}


.listTask input[type="checkbox"]  {
    width: 20px;
    height: 20px;
}

.listTask input[type="checkbox"]:checked  {
    width: 25px;
    height: 20px;
    accent-color: #ffc766;
}

.card label.tasklabel {
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
}



.prioritaire {
    background-color: #f5acac;
}

.afaire {
    background-color: #ffd6a9;
}

.libre {
    background-color: #a6fbb6;
}


.listPlans {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 20px;
    list-style-type: square;
}

.subListPlan {
    font-style: italic;
    font-size : 12px;
    margin-left : 30px;
    margin-top : 5px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}



.buttonPlan {
    appearance: none;
    background-color: #338fd7;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 15px;
}

.blocked {
    background-color: #338fd736;
    /*background: repeating-linear-gradient( -55deg, #d4d4d4, #d4d4d4 10px, #fff 10px, #fff 20px );*/
    cursor: not-allowed;
}

.pause {
    background-color: #ff8338;
}

.end {
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline;
    cursor: pointer;
    color: blue;
}

form {
    display: inline;
}

.fa-file-pdf {
    cursor: pointer;
}

.buttongreen {
    background: #57d733;
}

.buttonchangeinfo {
    margin-left: 192px;
}

.buttonsaveinfo {
    margin-left: 252px;
}

.buttonaddplanning {
    margin-left: 188px;
}

.buttonaddtask {
    margin-left: 245px;
}

.buttons-compta {
    margin-left: 83px;
    display: inline;
}

.form-change-info{
    margin-top: 25px;
}

.input-user-mail {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #a9a9a9;
    transition: border .3s ease;
    font-size: medium;
}

.user-change{
    display: none;
}

.retour-info-user {
    display: inline;
    cursor: pointer;
}

.planning-add{
    display: none;
}
